.row{
    display: flex;
    margin: auto;
}

.account-detail{
    padding: 100px 0 0;
    border-bottom: 2px solid #000;
}

.account-detail-left{
    display: flex;
    border-right: 1px solid black;
    align-items: center;
    padding-left: 30px;
    width: 15%;
}

.account-detail-left ul li{
    padding : 12px 0;
}

.account-detail-left ul li a:hover{
    color: #04AA6D;
    box-shadow: 0 1px #04AA6D;

}

.account-detail-right{
    width: 85%;
    display: flex;
    justify-content: center;
}

.tieuDeThongTinTaiKhoan{
    padding-top: 20px;
    text-align: left;
    width: 100%;
    padding-left: 50px;
    border-bottom: 5px solid #00a67d;
}

.taiKhoan{
    align-items: center;
    width: 100%;
}

.thongTinTaiKhoan form{
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.taiKhoan .thongTinTaiKhoan .formInput{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px; 
    justify-content: center;
}

.taiKhoan .thongTinTaiKhoan .formInput label{
    padding: 10px 0px 10px 0px;
}

.taiKhoan .thongTinTaiKhoan .formInput input{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 30px;
    background-color: #ececec;
    border: none;
    border-radius: 20px;
}

.taiKhoan .thongTinTaiKhoan .formInput .diaChi{
    display: flex;
    align-items: center; 
    gap: 10px;
}

input[type="text"]:focus{
    padding-left: 5px; /* Khi input có focus, giảm khoảng trống để dấu nháy di chuyển về phía trái */
}